.footer_section_padding{
    padding: 4rem 4rem 1rem;
}

.footer{
    background-color: #011631;
}

.app_footer{
    display: flex;
    flex-direction: column;
}

.app_footer_links{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.app_footer_links_div{
width: 180px;
margin: 1rem;
display: flex;
justify-content: flex-start;
flex-direction: column;
color: white;
}

.app_footer_social_div{
    
    width: 200px;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    }

.footer a {
    color: rgb(175, 175, 179);
    text-decoration: none;
    font-family: 'Baloo Paaji 2', cursive;
}

.footer a:hover{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.social{ 
    display: flex;
    flex-direction: row;
    gap: .75rem; 
}

.social a{ 
   background: #03316e; 
   padding: .4rem .6rem .05rem;
   font-size: 1rem;
   border: 3px solid transparent;
   color: azure;
   border-radius: 1.5rem;
}
.social a:hover{ 
    border: 3px solid #0449a3;
    background: #0449a3; 
    color: azure;
  
 }

.app_footer_links_div h4{
    font-size: 20px;
    line-height:17px;
    margin-bottom: 1rem;
    font-family: 'Baloo Paaji 2', cursive;
}

.app_footer_links_div p{
    font-size: 18px;
    line-height: 15px;
    margin: .5rem 0;
    cursor: pointer;
}

.app_footer_social_div h4{
    font-size: 20px;
    line-height:17px;
    margin-bottom: 1rem;
    font-family: 'Baloo Paaji 2', cursive;
}

.app_footer_social_div p{
    font-size: 18px;
    line-height: 15px;
    margin: .5rem 0;
    cursor: pointer;
}

.app_footer_below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.app_footer_copyright{
    display: flex;
    flex-direction: row;
}

small{
    margin-top: 1rem;
    font-size: 11px;
    color:#fff;
    font-family: 'Baloo Paaji 2', cursive;
}

@media screen and (max-width: 550px){
    .footer_section_padding{
        padding: 2rem 2rem 1rem;
    }
}


